body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background: url(./img/piano_wood.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border: 3px solid rgb(230, 192, 90)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.title {
  background: url(./img/gold.png) no-repeat;
  background-size: cover;
  font-size: 60px;
	color: #fff;
	text-align: center;
	padding: 1em;
	/* -webkit-background-clip clips the background of the element to the text */
	-webkit-text-fill-color: transparent; /* overrides the white text color in webkit browsers */
  -webkit-background-clip: text;
  font-family: cursive;
}

.container {
  width: 90%;
  position:absolute;
  bottom:0px;
  right:25%;
  left:50%;
  transform: translateX(-50%);
  
}

.buttons {
  margin: 40px auto;
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.buttons button {
  color: rgb(230, 192, 90);
  background-color: transparent;
  border: 1px solid rgb(230, 192, 90);
  padding: 5px;
  font-size: 20px;
}

.buttons button:focus {
  outline: 0;
}

.buttons button:hover {
  background-color: rgb(230, 192, 90);
  color: rgb(127, 62, 31);
}

.testing {
  box-shadow: 10px -5px black;
}
